<?xml version="1.0" encoding="UTF-8"?>
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	destroy-method="close">

	<property name="driverClassName" value="com.myql.jdbc.Driver" />
	<property name="url" value="jdbc:mysql://localhost:3306/activiti" />
	<property name="username" value="root" />
	<property name="password" value="root" />
	<property name="initialSize" value="20" />
	<property name="maxActive" value="50" />
	<property name="maxIdle" value="20" />
	<property name="minIdle" value="10" />
</bean>

<bean id="transactionManager"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	<property name="dataSource" ref="dataSource"></property>
</bean>

<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
	<property name="dataSource" ref="dataSource"></property>
	<property name="transactionManager" ref="transactionManager" />
	<property name="databaseSchemaUpdate" value="true" />
	<property name="jobExecutorActivate" value="false" />
</bean>

<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
	<property name="processEngineConfiguration" ref="processEngineConfiguration" />
</bean>

<bean id="repositoryService" factory-bean="processEngine"
	factory-method="getRepositoryService" />
<bean id="runtimeService" factory-bean="processEngine"
	factory-method="getRuntimeService" />
<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
<bean id="historyService" factory-bean="processEngine"
	factory-method="getHistoryService" />
<bean id="managementService" factory-bean="processEngine"
	factory-method="getManagementService" />

<tx:annotation-driven transaction-manager="transactionManager" />